body{
    background-image: url("snow_scene.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    color: red;
    flex-direction: column;
    z-index: 1000;
}

#merry{
    position: relative;
    color: green;
    font-style: italic;
}

#merry .hat {
  position: absolute;
  left:-0.3ch;
  bottom: 1.1ch;         
  width: 2ch;          
  height: auto;
  transform-origin: bottom left; 
}

span{
    font-family: Verdana;
    text-shadow: 1px 1px white;
    font-weight: bold;
}

.sofia {
    font-family: "Sofia", sans-serif;
}

#from {
    position: absolute;
    bottom: 0px;
    font-size: 3em;
    color: red;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 100px;
}


