body{
    background-color: #f0f8ff;
    height: 100vh;
    margin: 0;
}

.card-wrapper-outer {
    position: relative;
    margin: auto;          /* Center horizontally */
}

.card-wrapper-inner{
    position:relative;
    background-image: url("snow_scene.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 6/4;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.text {
    text-align: center;
    font-family: "EB Garamond", serif;
    text-shadow: 1px 1px white;
    font-weight: bold;
}

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: red;
    flex-direction: column;
    z-index: 1000;
}


#merry{
    position: relative;

}

.merry-first-letter::after {
    content: '';
    background-image: url("christmas_hat.svg");
    background-repeat: no-repeat;
    background-size: contain;   
    position: absolute;
    width: 1.5em;              
    height: 1.5em;              
    top: -0.55em;                
    left: -0.1em;              
    pointer-events: none;
    transform:rotate(-10deg);
}

.text-emphasise{
    font-family: "Sofia", sans-serif;
    color: green;
    font-style: italic;
}

.text-signature{
    font-family: "Caveat", cursive;  /* Handwritten style */
    color: #333333;
}

#from {
    position: absolute;
    bottom: 5vh; 
    color: red;
    width: 100%;
    text-align: center;
    box-sizing: border-box
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Styles here */ 
  .card-wrapper-inner{
    max-width: 600px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* Styles here */ 
  .card-wrapper-inner{
    max-width: 800px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* Styles here */ 
  .card-wrapper-inner{
    max-width: 1000px;
  }
}
