body{
    background-image: url("snow_scene.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

.text {
    text-align: center;
    font-family: "EB Garamond", serif;
    text-shadow: 1px 1px white;
    font-weight: bold;
}

#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 5rem;
    color: red;
    flex-direction: column;
    z-index: 1000;
}


#merry{
    position: relative;

}

.merry-first-letter::after {
    content: '';
    background-image: url("christmas_hat.svg");
    background-repeat: no-repeat;
    background-size: contain;   
    position: absolute;
    width: 1.5em;              
    height: 1.5em;              
    top: -0.55em;                
    left: -0.1em;              
    pointer-events: none;
    transform:rotate(-10deg);
}

.text-emphasise{
    font-family: "Sofia", sans-serif;
    color: green;
    font-style: italic;
}

#from {
    position: absolute;
    bottom: 5vh; 
    font-size: 3em;
    color: red;
    width: 100%;
    text-align: center;
    box-sizing: border-box
}



